.container-fluid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 24px 0;
    width: 100%;
    height: max-content;
    flex-direction: row;
}

.container-information {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: max-content;
    flex-direction: column;
    margin: 0 24px 0 0;
}

@media only screen and (max-width: 576px) {
    .container-fluid {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    iframe {
        width: 100%;
    }

    .container-information {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        margin: 0 24px 0 0;
    }

    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

}