.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 48px 0;
}

.display-6 {
    font-size: 36px;
}

.custom-container {
    width: 30%;
    padding: 8px 16px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 8px 24px #C1C7D0;
}

.inner-container {
    width: 100%;
    margin: 8px 0;
    text-align: center;
}

.form-group {
    width: 100% !important;
}

.btn-custom {
    color: #000;
    background-color: #FFAB00;
    padding: .375rem .75rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(1.5em + .75rem + 2px);
    outline: 0;
    border: 2px solid #FFAB00;
    border-radius: 24px;
    margin: 24px 0 0 0; 
}

.btn-custom:hover {
    transition: .2s all ease-in-out;
    color: #FFAB00;
    background-color: #FFF;
    box-shadow: 0 8px 24px #FFF0B3;
}

@media only screen and (max-width: 576px) {
    .custom-container {
        width: 100%;
        border: 2px solid #FFAB00;
        padding: 24px;
        border-radius: 24px;
        
    }
}