.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: "100%";
    height: max-content;
    margin: 32px 0 16px 0;
    flex-direction: column;
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}